{% extends 'base.html' %}

{% block content %}

{% for pokemon in pokemons %}
    <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
        <img src="{{ pokemon.image_url }}" class="card-img-top" alt="{{ pokemon.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <p class="card-text">Type: {{ pokemon.type }}</p>
            <p class="card-text">Level: {{ pokemon.level }}</p>
        </div>
    </div>
{% endfor %}

{% endblock %}